---
title: Our Blog
layout: default
---

<div class="flex justify-center items-center mx-auto mb-3">
  <form
    class="flex items-center py-1 px-3 rounded-full bg-gray-100 border focus-within:border-blue-300"
  >
    <input
      type="text"
      placeholder="Search anything here..."
      class="bg-transparent focus:outline-none pr-2 font-semibold text-sm border-0 focus:ring-0 px-0 py-0"
      id="searchInput"
    />
  </form>
</div>
<div class="suggestions"></div>

<div class="container max-w-3xl mt-6 px-6">
  <h1 class="font-bold text-5xl">{{title}}</h1>

  {{ content | safe }}
</div>
