@tailwind base;
@tailwind components;
@tailwind utilities;
p {
  font-family: Georgia, serif;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.word {
  font-family: "Patua One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  transition: color 0.5s ease;
}
h1 {
  @apply text-4xl tracking-tighter mb-3 text-center lg:text-7xl;
}

h3 {
  @apply text-2xl font-bold mb-3;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}
